@model HomeBrewComp.Web.Features.Home.HomeResponse
@using HomeBrewComp.Web.Features.Login

<div class="title">
    <h2>Welcome to HomeBrew Comp</h2>
</div>
<div>
    <div class="boxA">
        <div class="box margin-btm">
            <img src="http://www.battlegroundbrewers.com/joomla/images/bbg_logo.gif" width="320" height="180" alt="">
            <div class="details">
                <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
            </div>
            <a href="#" class="button">More Details</a>
        </div>
        <div class="box">
            <img src="http://www.battlegroundbrewers.com/joomla/images/bbg_logo.gif" width="320" height="220" alt="">
            <div class="details">
                <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
            </div>
            <a href="#" class="button">More Details</a>
        </div>
    </div>
    <div class="boxB">
        <div class="box">
            <img src="http://www.battlegroundbrewers.com/joomla/images/bbg_logo.gif" width="320" height="280" alt="">
            <div class="details">
                <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
            </div>
            <a href="#" class="button">More Details</a>
        </div>
        <div class="box">
            <img src="http://www.battlegroundbrewers.com/joomla/images/bbg_logo.gif" width="320" height="140" alt="">
            <div class="details">
                <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
            </div>
            <a href="#" class="button">More Details</a>
        </div>

    </div>
    <div class="boxC">
        <div class="box">
            <img src="http://www.battlegroundbrewers.com/joomla/images/bbg_logo.gif" width="320" height="200" alt="">
            <div class="details">
                <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
            </div>
            <a href="#" class="button">More Details</a>
        </div>
        <div class="box">
            <img src="http://www.battlegroundbrewers.com/joomla/images/bbg_logo.gif" width="320" height="200" alt="">
            <div class="details">
                <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
            </div>
            <a href="#" class="button">More Details</a>
        </div>

    </div>
</div>
